body{
    min-height: 100%;
    height: auto;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden !important;
    max-width: 100vw;
}

.ui-loader{
    display: none;!important;
}

.body_content section,
.page_wrapper section{
    max-width: 1600px;
    margin: auto;
}

.tell_us_section{
    max-width: 100% !important;
}

.hidden_message{
    grid-column: 1/-1;
    display: none;
}

.hidden_message textarea{
    resize: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.slider-wrapper{
    display: grid !important;
    grid-template-columns: 1fr;
}

.slick-slide img{
    height: 90%;
    object-fit: cover;
}

.slider-wrapper > div{
    height: 90%;
}

.slick-slider > div div{
    height: 100%;
}

.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}

.slick-dots{
    bottom: 15px !important;
}

.slick-dots li.slick-active button:before{
    content: url("img/one_dot.svg") !important;
}

.slick-dots li button:before{
    content: url("img/dot.svg") !important;
}

header{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 1% 10%;
    box-sizing: border-box;
    z-index: 6;
}

header .logo{
    display: flex;
    justify-self: start;
    z-index: 1;
}

header .text_logo{
    display: grid;
    align-content: center;
    margin-left: 15px;
}

header a{
    display: grid;
    align-content: center;
    margin-left: 15px;
}

header .text_logo span{
    justify-self: start;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

header .text_logo span:last-child{
    font-size: 12px;
}

header .navbar{
    display: grid;
    grid-template-columns: auto auto;
}

header nav{
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A8A8A8;
    z-index: 1;
}

header nav a{
    cursor: pointer;
    text-decoration: none;
    color: #A8A8A8;

}

header .mail_header{
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    z-index: 1;
    text-decoration: none;
}

header nav a:hover{
    color: #00A2D2;
    transition: 2s;
}

header .mail_header span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #00A2D2;
    font-family: 'Ubuntu', sans-serif;
    align-self: center;
}

#back_video{
    position: fixed;
    top: 0;
    z-index: 5;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    box-sizing: border-box;
}

#back_video video{
    z-index: 500;
    position: relative;
}

#back_video .background{
    background: black;
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    height: 100vh;

}

.first_section .title_page{
    height: calc(85vh - 121px);
    display: grid;

    border: none;
}

.first_section .title_page .btn_play{
    justify-self: center;
    align-self: center;
}

.first_section .title_page video{
    justify-self: center;
    height: 80%;
    align-self: center;
}

.all_content_two{
    display: grid;
    grid-template-rows: auto 1fr;
}

.first_section .title_page{
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 90px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.first_section .title_page div{
    align-self: end;
    margin-bottom: 20%;
}

.idea_section{
    max-width: 100% !important;
    background: #F2F8FC;
    text-align: center;
    display: grid;
    padding: 4%;
    grid-gap: 50px;
    border-top: 2px solid #00A2D3;
    border-bottom: 2px solid #00A2D3;
}

.idea_section > *{
    width: 1600px;
}

.idea_section > div{
    margin: auto;
}

.idea_section .header_idea_sec{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 120%;
    color: #00A2D2;
    font-family: 'Ubuntu', sans-serif;
    justify-self: center;
}

.idea_section .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;}

.idea_section .icons div{
    display: grid;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #00A2D3;
    font-family: 'Ubuntu', sans-serif;
    grid-gap: 30px;
}

.idea_section .icons div img , .idea_section .icons div span{
    justify-self: center;
    align-self: end;
}

.idea_section .text_idea_sec{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 5%;
    color: #00A2D2;
    font-family: 'Ubuntu', sans-serif;
    justify-self: center;
    line-height: 150%;
}



.how_it_work_sect{
    padding: 4% 15%;
}

.how_it_work_sect .title_how_it_work , .services_section .title_services_section{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: #F48777;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 60px!important;
}

.how_it_work_sect .title_how_it_work span{
    align-self: center;
}

.how_it_work_sect .title_how_it_work .header_how_it{
    display: grid;
    grid-template-rows: auto 1fr;
}

.how_it_work_sect .title_how_it_work .header_how_it span:first-child{
    align-self: end;
}

.how_it_work_sect .title_how_it_work .header_how_it span:last-child{
    align-self: start;
}

.how_it_work_sect img{
    width: 100%;
    margin-top: 4%;
}

.how_it_work_sect .descriptions{
    margin-top: 4%;
}

.how_it_work_sect .descriptions .description .cube{
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #FFCB4E 0%, #FCC74C 41.46%, #F4BB45 86.5%, #F1B642 100%);
}

.how_it_work_sect .descriptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how_it_work_sect .descriptions .description{
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 10px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: #B1B3B6;
}

.how_it_work_sect .descriptions .description .cube_blue{
    background: #75C2E3;
}

.how_it_work_sect .descriptions .description .cube_purple{
    background: #8071B4;
}

.how_it_work_sect .descriptions .description .cube_red{
    background: #F2665D;
}

.how_it_work_sect .descriptions .description span{
    justify-self: start;
    align-self: center;
}



.services_section .title_services_section{
    padding: 0 23%;
}

.services_section .list{
    background: #F2F8FC;
    margin-top: 4%;


}

.services_section .list .list_item .lock{
    padding: 1% 10%;
    border-top: 2px solid #00A2D3;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 100px;
    justify-content: center;
}

.services_section .list .list_item{
    cursor: pointer;
}

.services_section .list .list_item img , .services_section .list .list_item span{
    align-self: center;
}

.services_section .list .list_item span{
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #00A2D2;
}

.services_section .list .list_item .descriptionService{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    height: 0;
    overflow: hidden;
}

#description1{
}

.open_service{
    height: auto!important;
    padding:0 10% 50px 10%!important;
}

.services_section .list .list_item .descriptionService .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 5%;
}

.services_section .list .list_item .descriptionService .three_block{
    display: grid;
    margin-top: 5%;
    grid-gap: 50px;
}

.services_section .list .list_item .descriptionService .content img{
    width: 100%;
    align-self: start;
}

.services_section .list .list_item .descriptionService .content .all_content{
    grid-gap: 50px;
}

.services_section .list .list_item .descriptionService .content .all_content{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: start;
}

.services_section .list .list_item .descriptionService .content .all_content div{
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;

}

.services_section .list .list_item .descriptionService .content .title , .services_section .list .list_item .descriptionService .three_block .title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #636466;
    font-family: 'Ubuntu', sans-serif;
    align-self: start;
}

.services_section .list .list_item .descriptionService .content .text , .services_section .list .list_item .descriptionService .three_block .text{
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #B1B3B6;    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    align-self: start;
}

.services_section .list .list_item .descriptionService .text_descr{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #00A2D2;
    font-family: 'Ubuntu', sans-serif;
    justify-self: center;
}

.icon_small{
    margin-left: 30px!important;
}

.tell_us_section{
    background: #FEF9F8;
    padding: 4% 0;
    display: grid;
    border-top: 2px solid #F48777;
    border-bottom: 2px solid #F48777;
}

.tell_us_section > * {
    max-width: 1600px;
}

.tell_us_section form {
    margin: auto;
}

.tell_us_section span{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    justify-self: center;
    line-height: 78px;
    font-family: 'Ubuntu', sans-serif;
    color: #F48777;
    margin-left: 30px;
}

.tell_us_section form{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    padding-top: 4%;
}

.tell_us_section form label input,
.tell_us_section form label textarea{
    width: 100%;
    padding: 20px;
    color: rgba(244, 135, 119, 1);
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    border:  none;
    box-sizing: border-box;
}

.tell_us_section form label input::placeholder,
.tell_us_section form label textarea::placeholder{
    color: rgba(244, 135, 119, 0.7);
}

.tell_us_section form .buttons_tell_us{
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10%;
    grid-gap: 20px;
    grid-column: 3;
}

.tell_us_section form .buttons_tell_us button{
    padding: 10px 30px;
    border: none;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.tell_us_section form .buttons_tell_us button:first-child{
    color: #F48777;
    background: #FBD9E2;
}

.tell_us_section form .buttons_tell_us button:last-child{
    background: #F48777;
    color: white;
}

.our_project_section{
    padding-top: 4%;
    display: grid;
}

.our_project_section .title_our_project_section{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 78px;
    justify-content: center;
    color: #00A2D2;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: auto auto;

}

.our_project_section .title_our_project_section div {
    align-self: start;
    justify-self: center;
    line-height: 60px;
}

.our_project_section .title_our_project_section img{
    align-self: end;
    width: 50%;
}

.our_project_section .block_one{
    background: #E4F1F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.our_project_section .block_one .slick-slider img{
    width: 100%;
    height: 100%;
}

.our_project_section .block_one .description_block{
    padding: 10% 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.our_project_section .block_one .description_block .description .timeline{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: #75C2E3;
}

.our_project_section .block_one .description_block .description{
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 10px 65px;
}

.our_project_section .block_one .description_block .description .title_block_one{
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    line-height: 120%;
    color: #00A2D3;
}

.our_project_section .block_one .description_block .description .first{
    font-weight: bold;
}

.our_project_section .block_one .description_block .description .text_description{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #636466;
    font-family: 'Ubuntu', sans-serif;
}

.camera{
    width: 100%;
}


.our_project_section .block_one .description_block .description button{
    border: 2px solid #4CB9E1;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 28px;
    width: 50%;
    height: 50px;
    color: #08A9D8;
    background: transparent;
    align-self: end;
    cursor: pointer;
}

.our_project_section .block_one .icon_block .text_services{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    color: #00A2D3;
    margin-right: 5%;
}

.our_project_section .block_one .icon_block{
    display: grid;
    grid-template-rows: 10px;
    grid-gap: 38px;
}

.our_project_section .block_one .icon_block .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    grid-gap: 5%;

}

.our_project_section .block_one .icon_block .icons a,
.our_project_section .block_one .icon_block .icons img{
    justify-self: end;
}

.our_project_section .block_one .icon_block .icons a img {
    margin-left: auto;
    display: grid;
    width: 50%;

}

.our_project_section .block_two{
    background: #FEF9F8;
}

.our_project_section .block_one .description_block .description .timeline_two{
    color: rgba(244, 135, 119, 0.6);
}

.our_project_section .block_one .description_block .description .title_block_two , .our_project_section .block_one .icon_block .text_services_two{
    color: #F48777;
}

.our_project_section .block_one .description_block .description .button_two{
    color: #F48777;
    border: 2px solid #F48777;
}

.our_project_section .button_portfolio{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #4CB9E1;
    border: 3px solid #4CB9E1;
    font-style: normal;
    font-weight: 300;
    box-sizing: content-box;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    justify-self: center;
    margin: 30px 0;
    padding: 10px 30px;
    cursor: pointer;
}

.work_with_us_section {
    padding: 4% 10%;
}

.work_with_us_section .title_work_with_us_section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 68px;
    line-height: 78px;
    color: #00A2D2;
    grid-gap: 5%;
}

.work_with_us_section .title_work_with_us_section div{
    align-self: end;
}

.work_with_us_section .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 4%;
}

.work_with_us_section .blocks .block{
    background: rgba(255, 203, 78, 0.05);
    border-bottom: 2px solid #F1B642;
    border-top: 2px solid #F1B642;
    padding: 10%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
}

.ongoing_production{
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
}

.work_with_us_section .blocks .block .title{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 78px;
    color: #F1B642;
    font-family: 'Ubuntu', sans-serif;
}

.work_with_us_section .blocks .block .text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Ubuntu', sans-serif;
    color: #B1B3B6;
}

.work_with_us_section .blocks .block button{
    background: transparent;
    color: #B1B3B6;
    border: 3px solid #B1B3B6;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 28px;
    justify-self: center;
    padding: 10px 10px;
    align-self: end;
    margin-top: 3%;
    cursor: pointer;
}

footer{
    background: #00A2D2;
    display: grid;
    grid-template-columns: auto  auto;
    padding: 1% 10%;
}

footer .logo{
    display: flex;
    justify-self: start;
}

footer .text_logo{
    display: grid;
    align-content: center;
    margin-left: 15px;
}

footer .text_logo span{
    justify-self: start;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
}

footer .text_logo span:last-child{
    font-size: 12px;
}

footer .footer_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    justify-self: end;
    align-self: center;
}

.blocks .block .title_block{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.blocks .block .title_block img{
    width: 60%;
}

.small_btn_more{
    display: none;
}

.mobi_header{
    display: none;
}


.scroll_header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 1% 10%;
}

#shark{
    position: fixed;
    display: none;
    margin-left: -10%;
    width: 120vw;

}

#bands{
    display: none;
}

#bands2{
    position: absolute;
    z-index: 500;
    right: 20px;
    top: 20px;
}

#bandOne{
    transition: 0.5s;
}

#bandTwo{

}

#bandThree{
    transition: 0.5s;
}

.bandOne{
    transform: rotate(45deg);
    z-index: 1;
    transition: 0.5s;
}

.bandThree{
    transform: rotate(-45deg);
    margin-top: -7.55px;
    transition: 0.5s;
}

.bandTwo{
    display: none;
}

.how_it_work_sect .title_how_it_work .header_how_it_text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #F48777 ;
    font-family: 'Ubuntu', sans-serif;
}

.end_sections{
    padding: 0 10% 5% 10%;
    display: grid;
    grid-gap: 5%;
}

.wont_to_work .content .contact a {
    align-self: end;
}

.end_sections img{
    width: 100%;
}

.end_sections .photo_with_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: end;
    grid-gap: 5%;
    padding: 5% 0 0 0;
}

.end_sections span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.wont_to_work{
    padding: 0 10%;
}

.wont_to_work .content{
    border-top: 2px solid #F1B642;
    padding: 5% 0;
    display: grid;
    grid-gap: 50px;
}

.wont_to_work .content span{
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 76px;
    font-family: 'Ubuntu', sans-serif;
    color: #F1B642;
}

.wont_to_work .content .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wont_to_work .content .contact button{
    color: #F1B642;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 28px;
    border: 3px solid #F1B642;
    justify-self: start;
    padding: 10px;
    cursor: pointer;
    background: white;
    align-self: start;
}

.our_project_page_text{
    justify-content: left;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto;
    padding: 0 20% 5% 10%;
}

.our_project_page_text span{
    font-style: normal;
    font-weight: normal;
    align-self: center;
    font-size: 20px;
    color: #F48777;
    font-family: 'Ubuntu', sans-serif;
}

.our_project_section .block_three .timeline_three{
    color: rgba(255, 194, 14, 0.5)!important;
}

.our_project_section .block_three{
    background: #FEFBF5;
}

.our_project_section .block_three .title_block_three{
    color: #F1B642!important;
}

.our_project_section .block_three .btn_three{
    color: #F1B642!important;
    border: 2px solid #F1B642!important;
}

.list_two{
    background: transparent!important;
}

.our_project_page{
    border: none;
}



.services_section .list .list_item .lock_two{
    border-top: 2px solid #F1B642;
    background: #FFF6DC;
    padding: 4% 5% !important;
}

.descriptionService_two{
    border-bottom: 2px solid #F1B642;
    background: #FFF6DC;
}

.descriptionService_two form{
    display: grid;
    margin-top: 30px;
    grid-gap: 50px;
}

.descriptionService_two form input{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    color: white!important;
    font-family: 'Ubuntu', sans-serif;
    padding: 2%;
    box-sizing: border-box;
    background: #FFCB4E;
    border: none;
}

.descriptionService_two button{
    border: 3px solid #F1B642;
    cursor: pointer;
    background: #FFF6DC;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #F1B642;
    font-family: 'Ubuntu', sans-serif;
    justify-self: end;
    align-self: end;
    padding: 10px 40px;
}

.descriptionService_two form input::placeholder{
    color: white;
}

.our_project_section a{
    justify-self: center;
}

.about_us_section .about_us_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.about_us_section{
    padding: 7% 10%;
}

.about_us_section .about_us_text span:first-child{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    font-family: 'Ubuntu', sans-serif;
    color: #08A9D8;
    line-height: 78px;
}

.about_us_section .about_us_text span:last-child{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.about_us_section .about_us_text .text{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 40px;

}

.about_us_section .about_us_text img{
    width: 100%;
}

.flag .icon_block{
    background: #F2F8FC;
    border-bottom: 2px solid #00A2D3;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4% 0%;
}

.flag .icon_block div{
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 63px;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #00A2D3;
    font-family: 'Ubuntu', sans-serif;
}

.flag .icon_block div img{
    justify-self: center;
    width: 60%;
}

.flag{
    padding: 0 10% 0 10%;
    background: #F2F8FC;
    margin-bottom: 5%;
    max-width: 100% !important;
}

.flag > div {
    width: 1600px;
    margin: auto;
}

.our_team{
    padding: 5% 10% 0;
}

.our_team .title_section_our_team span{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    justify-self: end;
    line-height: 120%;
    font-family: 'Ubuntu', sans-serif;
    color: #08A9D8;
}

.our_team .title_section_our_team{
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: auto auto;
}

.our_team .title_section_our_team img{
    align-self: center
}

.our_team .team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    padding-bottom: 5%;
    border-bottom: 2px solid #B1B3B6;
    grid-gap: 50px;
}

.our_team .team .name, .our_team .team .position{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #636466;
    font-family: 'Ubuntu', sans-serif;
}

.our_team .team .position{
    font-weight: 100;
    font-size: 14px;
}

.our_team .team img{
    width: 100%;
}

.location{
    padding: 5% 10%;
    display: grid;
    border-bottom: 2px solid #B1B3B6;
}

.location .title_location{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 78px;
    justify-self: center;
    color: #08A9D8;
    font-family: 'Ubuntu', sans-serif;
}

.location .map{
    border-bottom: 2px solid #B1B3B6;
}

.location img{
    width: 100%;
    margin: 5% 0;
}

.location .get_in_touch{
    display: grid;
    grid-gap: 50px;
}

.location .get_in_touch span{
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 76px;
    color: #08A9D8;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 5%;
}

.location .get_in_touch button{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border: 3px solid #08A9D8;
    box-sizing: border-box;
    color: #08A9D8;
    padding: 20px 30px;
    cursor: pointer;
    justify-self: start;
    background: white;
}

.connect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 5% 5% 0 5%;
}

.connect .title{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 78px;
    justify-self: right;
    font-family: 'Ubuntu', sans-serif;
    color: #F1B642;
}

.connect .photo{
    width: 100%;
    align-self: end;
}

.connect .business span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.connect .business{
    display: grid;
}

.connect .business img{
    grid-row: 1;
    justify-self: end;
}

.connect .text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.connect .header{
    display: grid;
    grid-gap: 50px;
    padding: 0 13%;
    width: 355px;
    justify-self: center;
}

.connect .header button{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #F1B642;
    background: white;
    border: 3px solid #F1B642;
    justify-self: center;
    padding: 6px 20px;
}

.careers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5% 0 5%;
    grid-gap: 5%;
}

.careers img{
    width: 100%;
}

.careers .title{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.careers .text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.careers .descrip{
    display: grid;
    grid-gap: 50px;
}

.careers .descrip button{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #F1B642;
    border: 3px solid #F1B642;
    justify-self: center;
    padding: 10px 20px;
    background: white;
    margin-bottom: 10%;
}

.contact_submit span{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #00A2D3;
}

.contact_submit{
    padding: 0 15%;
    background: #F2F8FC;
}

.contact_submit form{
    display: grid;
    grid-gap: 30px;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
}

.contact_submit form input,
.contact_submit form textarea{
    background: #B5D7E5;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    width: 100%;
    padding: 10px 20px;
    resize: none;
}

.contact_submit form input::placeholder,
.contact_submit form textarea::placeholder{
    color: white;
}

.contact_submit div{
    background: #F2F8FC;
    padding: 8% 10%;
    border-bottom: 2px solid #00A2D3;
    border-top: 2px solid #00A2D3;
}

.contact_submit button{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    border: 3px solid #00A2D3;
    padding: 10px 20px;
    color: #00A2D3;
    background: #F2F8FC;
    margin-top: 30px;
}

.connect .duck2 {
    display: none;
}

.small_btn_submit{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
}

.two_section .description{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-bottom: 5%;
    border-bottom: 2px solid #B1B3B6;
}

.two_section .description .title_desc{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #00A2D3;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
}

.two_section .description .title_desc .bold{
    font-weight: 900;
}

.two_section .description_two{
    display: grid;
}

.two_section .description_two .title_desc{
    display: grid;
    grid-template-columns: 1fr;
}

.two_section .description_two .two_desc span{
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.small_slider{
    grid-template-columns: 1fr 1fr 1fr 1fr!important;
    justify-self: start!important;
}

.slider .dots, .photo_camera .dots, .title_page .dots
{
    position: absolute;
    justify-self: center;
    bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}


.two_section .description_two .text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
    margin-top: 24px;
}

.first_section .description .text{
    align-self: center;
}

.concept{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    padding: 5% 10%;
    grid-gap: 30px;
}

.concept .title{
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 64px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.concept .description .text{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    margin-top: 10%;
}

.concept .description .text span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.concept .description .text img{
    width: 85%;
}

.concept img{
    width: 100%;
}

.concept .number_slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.concept .number_slide span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #4CB9E1;
}

.form_column1{
    grid-column: 1;
}

.concept .buttons{
    justify-self: end;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    cursor: pointer;
}

.development{
    padding: 0 10% ;
}

.development .title, .development .description .text{
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 64px;
    font-family: 'Ubuntu', sans-serif;
    color: #F1B642;
}

.development .description{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 5%;
    margin-top: 50px;
}

.development .description .text_one{
    display: grid;
}

.development .description .text_one span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;

}
.text_services_three{
    color: #FFCB4E!important;
}


.development .description .text_one img:last-child{
    margin-left: 20px;
}

.development .slider{
    padding: 5% 0 0 0;
    display: grid;
    justify-content: center;
}

.development .slider img{
    width: 100%;
}

.development .number_slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.development .number_slide span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #B1B3B6;
    align-self: center;
}

.development .buttons{
    justify-self: end;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    cursor: pointer;
}

.production{
    padding: 5% 10% 0 10%;
}

.production .description{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 50px;
}

.production .title{
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 64px;
    font-family: 'Ubuntu', sans-serif;
    color: #F48777;
}

.production .description .desc_one .icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin-top: 50px;
}

.production .description .desc_one , .production .description .desc_two{
    display: grid;
    grid-gap: 50px;
}

.production .description .desc_one span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
}

.production .description .desc_two img{
    width: 100%;
}

.production .description .desc_two span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
    justify-self: end;
    align-self: start;
}

.production .description{
    border-bottom: 2px solid #B1B3B6;
    padding-bottom: 5%;
}

.other_projects{
    display: grid;
    padding: 5% 15%;

}

.other_projects .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 0 2% ;
}

.other_projects .projects .project{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}


.other_projects .projects .project img{
    width: 100%;
}

.other_projects .projects .project span{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;
    cursor: pointer;
    justify-self: right;
}

.other_projects .projects .project span:last-child{
    font-weight: 900;
}

.other_projects .wont_to_work span{
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 76px;
    color: #00A2D2;
    font-family: 'Ubuntu', sans-serif;
}

.other_projects .wont_to_work{
    padding: 0;
    display: grid;
    grid-gap: 40px;
    margin-top: 56px;
}

.other_projects .wont_to_work button{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    color: #00A2D2;
    background: white;
    border: 3px solid #00A2D2;
    justify-self: start;
    padding: 10px;
    cursor: pointer;
}

.f_section , .f_section .title_page{
    height: auto;!important;
    padding: 2%;
}

.many_title{
    display: grid;
    grid-template-columns: auto auto auto 0.5fr;
    margin: 50px 0;
}

.slider_desc{
    font-size: 20px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    color: #636466;

}
@media (max-width: 2590px) {
    .body_content section,
    .page_wrapper section{
        max-width: 820px;
    }
}

@media (max-width: 2590px) {

    .tell_us_section > * {
        max-width: 820px;
    }

    .flag > div {
        width: 820px;
        margin: auto;
    }

    .first_section .title_page video{
        width: 100%;
    }


    .idea_section > *{
        width: 820px;
    }

    header nav{
        font-size: 17px;
    }

    .our_project_section .block_one .icon_block .icons img{
        width: 50%;
    }

    .our_project_section .block_one .description_block .description{
        grid-template-rows: auto ;
        grid-gap: 12px;
    }

    #shark{
        width: auto;
    }

    header{
        padding: 1% 8%;
    }

    .our_project_section .block_one .description_block .description .title_block_one{
        font-size: 18px;
        line-height: normal;
    }

    .our_project_section .block_one .description_block .description .text_description{
        font-size: 13px;
        line-height: normal;
    }


    .how_it_work_sect .descriptions .description {
        font-size: 16px;
    }


    .our_project_section .block_one .description_block .description button{
        font-size: 13px;
        height: 35px;
    }

    .our_project_section .block_one .description_block .description .timeline{
        font-size: 13px;
    }

    .tell_us_section form label input,
    .tell_us_section form label textarea{
        padding: 10px;
        font-size: 18px;
    }

    .tell_us_section form .buttons_tell_us button{
        font-size: 18px;
    }

    .development .description .text_one img{
        width: 60px;
    }

    .work_with_us_section .blocks .block .title {
        font-size: 36px;
    }

    .work_with_us_section .blocks .block .text {
        font-size: 16px;
        line-height: normal;
    }

    .work_with_us_section .blocks .block button {
        margin-top: 40px;
    }

    .work_with_us_section {
        padding: 4% 0;
    }

    .slick-dots {
        bottom: 3px !important;
    }
}

@media screen and (max-width: 1024px) {

    @keyframes open_burger {
        from {
            top: -500px;
        }
        to {
            top: 45px;
        }
    }

    @keyframes close_burger {
        from {
            top: 45px;
        }
        to {
            top: -500px;
        }
    }

    .active_burger {
        top: 45px !important;
        animation: open_burger 0.5s ease;
    }

    .nonactive_burger {
        animation: close_burger 0.5s ease;
    }

    header .navbar {
        grid-template-columns: 1fr;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        background: white;
        top: -500px;
        padding: 50px 0;
        grid-gap: 20px;
    }

    header .navbar nav {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    header {
        padding: 0;
        position: fixed;
        width: 100%;
    }

    #shark {
        display: block;
        left: -185px;
        margin-left: 10%;
        padding: 0;
    }

    header nav a {
        justify-self: center;
    }

    header .mail_header {
        justify-self: center;
        text-decoration: none;
    }

    header .text_logo img {
        margin-top: 17px;
    }

    #bands {
        display: grid;
        justify-self: end;
        z-index: 1;
        align-self: center;
        grid-gap: 5px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .bandOne {
        transform: rotate(45deg);
        z-index: 1;
        transition: 0.5s;
    }

    .bandThree {
        transform: rotate(-45deg);
        margin-top: -7.55px;
        transition: 0.5s;
    }

    .bandTwo {
        display: none;
    }

    .scroll_remove {
        display: none !important;
    }

    .scroll_header img:last-child {
        display: none !important;
    }

    .block_mail{
        display: block;!important;
    }

    .scroll_remove:last-child {
        display: block !important;
    }

    footer .footer_text {
        font-size: 12px;
    }

    footer {
        margin-top: 50px;
        padding: 2% 5%;
    }
    footer .text_logo span:first-child {
        font-size: 12px;
    }

    footer .text_logo span:last-child {
        font-size: 8px;
    }

    footer .logo img {
        width: 26%;
    }


    header .mail_header{
        justify-items: center;
    }

}

@media screen and (max-width: 1750px) {
    .our_project_section .block_one .description_block .description{
        grid-template-rows: auto;
        grid-gap: 12px;
    }
}

@media screen and (max-width: 820px) {
    #small_text {
        display: none;
    }

    .idea_section > *{
        width: 375px;
    }

    .form_column1{
        grid-column: unset;
    }

    .descriptionService_two button{
        grid-column: unset !important;
    }

    .contact_submit form{
        grid-template-columns: 1fr;
    }

    .flag > div {
        width: 375px;
        margin: auto;
    }

    .body_content section,
    .page_wrapper section{
        max-width: 375px;
    }

    .tell_us_section > * {
        max-width: 375px;
    }

    .tell_us_section > * {
        max-width: 375px;
    }

    .tell_us_section form {
        margin: auto;
    }


    .work_with_us_section .blocks {
        grid-template-columns: 1fr;
    }


    header .mail_header {
        grid-template-columns: auto;
    }

    .first_section {
        padding: 0;
        height: 100vh;
    }

    .idea_section {
        padding: 4% 1%;
    }

    .first_section .title_page {
        grid-template-columns: 1fr;
    }

    .idea_section .header_idea_sec {
        font-size: 24px;
        line-height: normal;
        margin-top: 40px;
    }

    .idea_section .icons {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }

    .idea_section .text_idea_sec {
        font-size: 16px;
        margin-bottom: 88px;
    }

    .how_it_work_sect .descriptions {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .how_it_work_sect {
        padding: 48px 2%;
    }

    .how_it_work_sect .title_how_it_work, .services_section .title_services_section {
        font-size: 36px;
        grid-gap: 20px !important;
        justify-content: center;
    }

    .services_section .title_services_section {
        padding: 0 2%;
    }

    .first_section .title_page div {
        align-self: center;
        margin-top: 0;
    }

    .services_section .list {
        padding: 0;
    }

    .tell_us_section {
        padding: 48px 2%;
        margin-top: 30px;
        grid-gap: 40px;
    }

    .tell_us_section span {
        font-size: 36px;
        line-height: 46px;
    }

    .tell_us_section form {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .tell_us_section form label input,
    .tell_us_section form label textarea{
        box-sizing: border-box;
    }

    .tell_us_section form .buttons_tell_us {
        grid-column: 1;
        justify-self: normal;
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .our_project_section .title_our_project_section {
        font-size: 36px;
        line-height: normal;
        margin-right: 0;
        justify-content: center;
        grid-template-columns: auto 1fr;
        padding: 0 2%;
        grid-gap: 20px;
    }

    .our_project_section .block_one {
        grid-template-columns: 1fr;
    }

    .our_project_section .block_one .icon_block .icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .our_project_section .block_one .description_block {
        grid-template-columns: 1fr;
    }

    .our_project_section .block_one {
        padding: 0;
    }

    .our_project_section .block_one .icon_block .text_services, .our_project_section .block_one .icon_block .icons img {
        justify-self: start;
        font-size: 18px;
    }

    .our_project_section .block_one .icon_block .icons {
        padding: 5% 0;
    }

    .our_project_section .block_one .description_block {
        padding: 20px;
        grid-row: 2;
    }

    .our_project_section .block_one .description_block .description button {
        display: none;
    }

    .our_project_section .block_one .description_block .description .text_description {
        margin: 3% 0;
        font-size: 18px;
    }

    .our_project_section .block_one .description_block .description .timeline {
        margin-bottom: 2%;
        font-size: 18px;
    }

    .our_project_section .block_one .description_block .description .title_block_one {
        font-size: 28px;
    }

    .work_with_us_section {
        padding: 4% 2%;
    }

    .work_with_us_section .title_work_with_us_section {
        font-size: 36px;
        line-height: normal;
        margin: 30px 0;

    }


    .icon_small {
        width: 100px !important;
    }

    .first_section .title_page {
        font-size: 48px;
        line-height: normal;
    }


    .small_btn_more {
        display: block;
        border: 3px solid #4CB9E1;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        width: 50%;
        height: 50px;
        color: #08A9D8;
        background: transparent;
        align-self: end;
        cursor: pointer;
        margin-top: 20px;
    }

    .btn_two {
        color: #F48777;
        border: 3px solid #F48777;
    }

    .work_with_us_section .blocks .block {
        padding: 5% 3%;
    }

    .services_section .list .list_item span {
        font-size: 14px;
    }


    .services_section .list .list_item .descriptionService .content, .services_section .list .list_item .descriptionService .three_block {
        grid-template-columns: 1fr;
    }

    .photo_one {
        grid-row: 1;
    }

    .services_section .list .list_item .descriptionService .text_descr, .services_section .list .list_item .descriptionService .content .text, .services_section .list .list_item .descriptionService .three_block .text {
        font-size: 16px;
    }

    .services_section .list .list_item .descriptionService .content .title, .services_section .list .list_item .descriptionService .three_block .title {
        font-size: 24px;
    }

    .first_section .title_page video {
        position: absolute;
        z-index: -1;
        height: 100vh;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }

    .mobile_approach {
        grid-template-columns: 1fr !important;
    }

    .mobile_text {
        font-size: 16px !important;
        line-height: normal !important;
    }

    .end_sections {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .end_sections span {
        font-size: 16px;
        line-height: 150%
    }

    .end_sections .photo_with_text {
        padding: 0;
    }

    .wont_to_work .content span {
        font-size: 36px;
        line-height: normal;
    }

    .our_project_page_text {
        grid-template-columns: 1fr;
    }

    .our_project_page_text span {
        font-size: 24px;
        line-height: 120%;
    }

    .descriptionService_two {
        grid-template-columns: 1fr !important;
        grid-gap: 50px;
    }

    .descriptionService_two button {
        justify-self: start;
    }

    .text_form_close {
        font-size: 24px !important;
    }

    .our_project_page {
        padding: 0 5% !important;
        margin-top: 100px;
    }

    .about_us_section .about_us_text {
        grid-template-columns: 1fr;
    }

    .about_us_section .about_us_text span:first-child {
        font-size: 48px;
        margin-top: 50px;
    }

    .about_us_section .about_us_text span:last-child {
        font-size: 24px!important;
        line-height: 150%;
    }

    .flag .icon_block, .our_team .team {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .our_team .team div {
        justify-self: center;
    }

    .location .title_location {
        font-size: 48px;
    }

    .location .get_in_touch span {
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
    }

    .location .get_in_touch button {
        font-size: 24px;
        padding: 10px 20px;
    }

    .connect {
        grid-template-columns: 1fr;
        padding: 5% 3%;
    }

    .connect .title {
        font-size: 48px;
        margin-top: 50px;
    }

    .connect .business span {
        font-size: 24px;
    }

    .connect .text {
        font-size: 16px;
    }

    .connect .header button {
        justify-self: start!important;
        align-self: start;
    }

    .connect .duck {
        display: none;
    }

    .connect .duck2 {
        display: block;
        justify-self: end;
    }

    .careers {
        grid-template-columns: 1fr;
        padding: 3%;
    }

    .careers .title {
        font-size: 24px;
    }

    .careers .text {
        font-size: 16px;
        line-height: 150%;
    }

    .careers .descrip button {
        justify-self: start;
    }

    .contact_submit {
        padding: 0;
        background: #F2F8FC!important;
    }

    .contact_submit div{
        padding: 3%;
    }

    .contact_submit span{
        font-size: 24px;
    }

    .contact_submit form input,
    .contact_submit form textarea{
        font-size: 24px;
    }

    .connect .small_btn_submit{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .two_section .description{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .two_section .description_two{
        grid-row: 1;
    }

    .two_section .description_two .title_desc span:first-child{
        font-size: 24px;
        line-height: 120%;
    }

    .two_section .description_two .text{
        font-size: 16px;
        line-height: 150%;
    }

    .two_section .description .title_desc{
        font-size: 18px;
    }

    .concept, .development .description, .production .description, .other_projects .projects .project, .other_projects .projects{
        grid-template-columns: 1fr;
    }

    .two_section{
        padding: 0 3%;
    }

    .concept .title, .development .title, .development .description .text, .production .title , .other_projects .projects .project span{
        font-size: 24px;
        line-height: 150%;
    }

    .concept, .development, .production, .other_projects{
        padding: 40px 3% 0 3%;
    }

    .photo_camera{
        grid-row: 2;
    }

    .development .description .text{
        grid-row: 1;
    }

    .concept .description .text span, .development .description .text_one span, .production .description .desc_one span, .production .description .desc_two span{
        font-size: 16px;
        line-height: 150%;
    }

    .development .description .text_one{
        grid-gap: 20px;
    }

    .camera2{
        display: none;
    }

    .other_projects .wont_to_work span{
        font-size: 36px;
    }

    .f_section , .f_section .title_page{
        height: auto;!important;
    }

    .f_section .title_page{
        margin-top: 90px;
    }

    .about_us_section{
        padding: 7% 16px;
    }

    .flag{
        margin: 0 16px;
    }

    .our_team{
        padding: 0 16px;
    }

    .location{
        padding: 5% 16px;
        border-bottom: none;
    }

    .services_section{
        margin-top: 40px;
    }

    .connect .title{
        line-height: 120%;
        justify-self: center;
    }

    .connect .header{
        grid-gap: 15px;
    }

    .connect .small_btn_submit, .our_project_page_text, .wont_to_work .content .contact{
        grid-gap: 15px;
    }

    .connect .header button{
        align-self: center;
    }

    .small_btn_submit{
        margin: 0;
    }

    .our_project_section .title_our_project_section,  .our_project_page_text{
        padding: 0;
    }

    .end_sections .photo_with_text{
        grid-template-columns: 1fr;
    }

    .end_sections {
        padding: 0 16px 5% 16px;
        grid-gap: 75px;
    }

    .bird_img{
        display: none;
    }

    .location .get_in_touch span{
        margin-top: 40px;
    }

    .our_team .title_section_our_team img{
        grid-column: 1;
        grid-row: 1;

    }

    .our_team .title_section_our_team span{
        font-size: 36px;
        line-height: normal;
        justify-self: start;
    }

    .our_team .title_section_our_team{
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        margin-top: 40px;
    }

    .work_with_us_section .blocks .block button{
        justify-self: left;
        margin: 0;
    }

    .title_our_project_section{
        margin: 30px;
    }

    .services_section .list{
        margin-top: 50px;
    }
    .block_mail{
        display: block!important;
    }

    .services_section .list .list_item .lock{
        grid-gap: 20px;
    }


    .services_section .list .list_item span{
        line-height: normal;
    }

    .services_section .list .list_item .lock{
        padding: 10px 10%;
    }

    .many_title{
        grid-template-columns: auto;
        justify-content: center;
        grid-gap: 40px;
    }

    .bird_iamg{
        width: 70%;
    }

    .open_service{
        padding:0 24px 50px 24px!important;
    }

    .our_project_section .block_one .icon_block{
        margin-top: 40px;
    }

    #shark{
        width: auto;
    }

    .project_card_end{
        margin-top: 100px!important;
    }

    .title_box{
        padding: 0!important;
        margin-bottom: 30px!important;
    }

    .our_project_section .title_our_project_section div {
        line-height: normal;
    }

    .flag .icon_block div img{
        width: 50%;
    }

    .flag{
        border-bottom: 3px solid #00A2D3;
    }

    .flag .icon_block{
        border: none;
    }

    header .mail_header {
        grid-auto-columns: 1fr!important;
    }

    .two_section .description .title_desc {
        line-height: 150%;
        margin-top: 25px;
    }

    .two_section .description .title_desc{
        grid-gap: 16px;
    }

    .two_section .description{
        padding-bottom: 30px;
    }

    .production .description .desc_one .icons img, .concept .description .text img{
        width: 60px;
    }

    .production .description .desc_one, .production .description .desc_two{
        grid-gap: 24px;
    }

    .development .description, .production .description .desc_one .icons{
        margin-top: 24px;
    }

    .concept .number_slide span{
        align-self: center;
    }
    }

@media screen and (max-width: 768px){
    .ongoing_production{
        grid-template-rows: unset;
        grid-gap: 16px;
    }

    .work_with_us_section .blocks .block a {
        justify-self: start !important;
    }

    .how_it_work_sect .title_how_it_work {
        grid-gap: 32px !important;
    }

    .bird_iamg {
        width: 100%;
    }

    .how_it_work_sect .title_how_it_work .header_how_it_text{
        font-size: 16px !important;
        line-height: 150% !important;
    }

    .our_project_section .block_one .icon_block .icons img{
        width: 100%;
    }

    .wont_to_work .content .contact a {
        align-self: start;
    }

    .wont_to_work{
        padding: 0 5%;
    }
}

@media screen and (max-width: 500px){
    .slick-dots{
        bottom: 0 !important;
    }

    .blue_form{
        padding: 0 5% !important;
    }
}

@media screen and (max-width: 370px) {
    .bird_iamg{
        width: 130%;
    }
}


@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
